matplotlib
Pandas
Pillow
numpy==1.15.4
networkx
sortedcontainers
scipy
scikit-learn
pyabf
hdf5storage
seaborn
hdbscan
shapely
hyperopt
hyperas
opencv-python
cython
scikit-image
tifffile
tqdm
ipyparallel
psutil